@import url("https://fonts.googleapis.com/css?family=Lato|Poller+One&display=swap");

img {
  align-self: center;
}




@font-face {
  font-family: "SF Distant Galaxy";
  src: url("SFDistantGalaxy.ttf") format("truetype");
}


/* phone */
body {
  background-color: #e4e7ec;
}



h1 {
  font-family: "SF Distant Galaxy";
}


.top,top2{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header{
  display:flex;
  justify-content: center;
}

nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* computer */
@media screen and (min-width: 600px) {


body{
  background-color: #e4e7ec;
}

.top, .top2{
  display:flex;
  flex-direction: row;
}

nav{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

}