@import url("https://fonts.googleapis.com/css?family=Lato|Poller+One&display=swap");

img {
  align-self: center;
}




@font-face {
  font-family: "SF Distant Galaxy";
  src: url("SFDistantGalaxy.ttf") format("truetype");
}


/* phone */
body {
  background-color: #e4e7ec;
}



h1 {
  font-family: "SF Distant Galaxy";
}



/* computer */
@media screen and (min-width: 600px) {



}

